{#
/**
 * @file
 * Default theme implementation for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A css-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   JavaScript.
 *
 * @ingroup templates
 *
 * @see template_preprocess_views_view()
 */
#}


<main id="fullpage" class="fullpage-wrapper view--report-view" >
    <div class="row-fluid hidden-print navbar-fixed-top affix" id="navbar-wrapper">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <div class="iw_component" id="1432060140214" style="display: block">
                <div class="agency-header">
                    <div class="upper-header-black">
                        <div class="containerdata">
                            <span class="upper-header-left">
                                <a aria-label="NYC Logo white" href="http://www1.nyc.gov/">
                                <img alt="NYC" aria-label="NYC Logo white" class="small-nyc-logo" src="{{ theme_path }}/assets/header/EPHTimages/nyc_white.png" /></a>
                                <img alt="NYC Logo" aria-label="NYC Logo" src="{{ theme_path }}/assets/header/EPHTimages/upper-header-divider.gif" />
                                <span class="upper-header-black-title">Health</span></span><span class="upper-header-right"><span class="upper-header-three-one-one"><a aria-label="311 Link" href="http://www1.nyc.gov/311/index.page" target="_blank">311</a></span>
                                <img alt="Search all NYC.gov websites Image" aria-label="Search all NYC.gov websites Image" src="{{ theme_path }}/assets/header/EPHTimages/upper-header-divider.gif" />
                                <span class="upper-header-search"><a aria-label="Search all NYC.gov websites Link" href="http://www1.nyc.gov/home/search/index.page" name="Search all NYC.gov websites Link" target="_blank">Search all NYC.gov websites</a></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" style="background-color: #44689d;">
            <div class="topnav">
                <!-- Navigation links (hidden by default) -->
                <div id="myLinks">
                    <a href="#" onclick="scrollToSection('main-content');return false;" class="header-link"><i class="fas fa-home"></i></a>
                    {{ drupal_view('report_links', 'page_1', view.args[0]) }}
                </div>
                <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
                <a href="javascript:void(0);" class="icon" onclick="myFunction()" style="background-color:#44689d">
                    <i class="fa fa-bars"></i>
                </a>
            </div>
        </div>     
    </div>

    <div class="row-fluid">
        <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
        {{ rows }}
    </div>


<div class="iw_component" id="1432060140221"><div class="row">
<footer>

		
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-9 col-12" style="color:white;">
                    <div class="footer-links">
                    <div class="row">
                        <div class="col-sm-6 col-12 col-lg-4"><a href="/nyc-resources/agencies.page">Directory of City Agencies </a></div>
                        <div class="col-sm-6 col-12 col-lg-4"><a href="/home/contact-us.page">Contact NYC Government </a></div>
                        <div class="col-sm-6 col-12 col-lg-4"><a href="https://a127-ess.nyc.gov">City Employees </a></div>
                        <div class="col-sm-6 col-12 col-lg-4"><a href="http://www.nyc.gov/notifynyc">Notify NYC </a></div>
                        <div class="col-sm-6 col-12 col-lg-4"><a href="http://a856-citystore.nyc.gov/">CityStore </a></div>
                        <div class="col-sm-6 col-12 col-lg-4"><a href="/connect/social-media.page">Stay Connected </a></div>
                        <div class="col-sm-6 col-12 col-lg-4"><a href="/connect/mobile-applications.page">NYC Mobile Apps  </a></div>
                        <div class="col-sm-6 col-12 col-lg-4"><a href="/nyc-resources/nyc-maps.page">Maps </a></div>
                        <div class="col-sm-6 col-12 col-lg-4"><a href="/nyc-resources/resident-toolkit.page">Resident Toolkit</a></div>
                    </div>
                    </div>
                </div>
                <div class="col-lg-3 col-12 col-sm-6">
                        <span class="logo-nyc" style="background-image:url({{ theme_path }}/assets/header/EPHTImages/nyc_white.png)">NYC</span>
                        <form class="form-search" method="get" action="/home/search/index.page">
                            <input type="text" placeholder="Search" class="input-search placeholder" name="search-terms"><button class="ico-search" style="background:url({{ theme_path }}/assets/footer/sprite-ico-search.png) no-repeat #616161 left -8px;">Search</button>
                        </form>

                        <div class="copyright">
                            <p  style="display: block; width: 100%;">
                                City of New York. 2019 All Rights Reserved, 
                            </p>
                            <p  style="display: block; width: 100%;">NYC is a trademark and service mark of the City of New York</p>
                            <p style="display: block; width: 100%;"><a title="Privacy Ploicy " href="/home/privacy-policy.page">Privacy Policy.</a>&nbsp;<a title="Terms of Use" href="/home/terms-of-use.page">Terms of Use.</a>&nbsp;<a href="http://www.nyc.gov/mopd"><img alt="Learn about services for people with disabilities" src="https://www1.nyc.gov/assets/home/images/global/accessibility_icon.svg" height="20px" width="20px"></a></p>
                        </div>
                </div>                      
            </div>
        </div>		
		
		
		
		
		
</footer>
</div>
</div>

	
</main>

    




